<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/FlyAtWill.css">
</head>
<body>
    <h1>Fly-At-Will</h1>
    <h2>Update Manage</h2>
    <p>Please tap in the record you want to Update!</p>
    {{ msg }}
    <form  method="post" action="/manage/update/">
        {% for row in f %}
            <p>FlightNo: <input type="text" name="flightno" value="{{ row.FlightNo }}" /></p>
            <p>AirlineCode: <input type="text" name="airlinecode" value="{{ row.AirlineCode }}" /></p>
            <p>DeptIATA: <input type="text" name="deptiata" value="{{ row.DeptIATA }}" /></p>
            <p>ArrIATA: <input type="text" name="arriata" value="{{ row.ArrIATA }}" /></p>
            <p>DeptTime: <input type="text" name="depttime" value="{{ row.DeptTime }}" /></p>
            <p>ArrTime:  <input type="text" name="arrtime" value="{{ row.ArrTime }}" /></p>
            <p>Aircraft: <input type="text" name="aircraft" value="{{ row.Aircraft }}" /></p>
            <p>Distance: <input type="text" name="distance" value="{{ row.Distance }}" /></p>
            <p>OTD: <input type="text" name="otd" value="{{ row.OTD }}" /></p>
            <p>AvgDelay: <input type="text" name="avgdelay" value="{{ row.AvgDelay }}" /></p>
            <p>Monday: <input type="text" name="monday" value="{{ row.Monday }}" /></p>
            <p>Tuesday: <input type="text" name="tuesday" value="{{ row.Tuesday }}" /></p>
            <p>Wednesday: <input type="text" name="wednesday" value="{{ row.Wednesday }}" /></p>
            <p>Thursday: <input type="text" name="thursday" value="{{ row.Thursday }}" /></p>
            <p>Friday: <input type="text" name="friday" value="{{ row.Friday }}" /></p>
            <p>Saturday: <input type="text" name="saturday" value="{{ row.Saturday }}" /></p>
            <p>Sunday: <input type="text" name="sunday" value="{{ row.Sunday }}" /></p>
            <p><input type="submit" value="submit" /></p>
        {% endfor %}
    </form>
     <button onclick="location.href='/manage/'">BACK</button>
</body>
</html>